<!DOCTYPE html>
<html>
<head>
  <title><%= local_assigns[:page_title] || "API Documentation" %></title>

  <style>
    html, body {
      font-size: 14px;
      font-family: system-ui, sans-serif;
    }

    .markdown code {
      background: var(--color-neutral-100);
      color: var(--color-neutral-900);
    }
    .markdown p:first-of-type {
      margin-block-start: 0em;
    }
    .markdown p:last-of-type {
      margin-block-end: 0em;
    }
    .markdown ul {
      list-style-type: disc;
    }
    .markdown li {
      margin-left: 2rem;
    }
  </style>

  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
  <div class="flex" x-data="{ activeLink: null }">
    <section class="bg-neutral-100 border-r w-[280px] shrink-0 h-screen overflow-y-auto">
      <% if company_logo_url.present? %>
        <div class="flex items-center justify-center mt-4 mb-8">
          <img src="<%= company_logo_url %>" class="max-w-full h-auto" />
        </div>
      <% end %>

      <div class="text-center text-xs border-y mb-4 flex divide-x">
        <div class="p-1 text-neutral-500 w-1/2">
          Version <%= version %>
        </div>
        <div class="p-1 w-1/2">
          <%= link_to url_helpers.explicit_documentation_swagger_path, target: "_blank", class: "flex items-center justify-center gap-1 text-neutral-900" do %>
            <span>Swagger</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
              <path d="M6.22 8.72a.75.75 0 0 0 1.06 1.06l5.22-5.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L6.22 8.72Z" />
              <path d="M3.5 6.75c0-.69.56-1.25 1.25-1.25H7A.75.75 0 0 0 7 4H4.75A2.75 2.75 0 0 0 2 6.75v4.5A2.75 2.75 0 0 0 4.75 14h4.5A2.75 2.75 0 0 0 12 11.25V9a.75.75 0 0 0-1.5 0v2.25c0 .69-.56 1.25-1.25 1.25h-4.5c-.69 0-1.25-.56-1.25-1.25v-4.5Z" />
            </svg>
          <% end %>
        </div>
      </div>

      <div class="space-y-4" >
        <% sections.each do |section| %>
          <details class="px-4" open>
            <summary class="font-bold"><%= section.name %></summary>

            <% section.pages.each do |page| %>
              <%= link_to page.title,
                    "##{page.anchor}",
                    class: "block pl-4 hover:bg-neutral-200",
                    "x-bind:class" => "{ 'bg-neutral-200': activeLink == '#{page.anchor}' }" %>
            <% end %>
          </details>
        <% end %>
      </div>
    </section>

    <main class="relative grow h-screen overflow-auto">
      <% sections.each do |section| %>
        <% section.pages.each do |page| %>
          <div class="p-8 border-t">
            <%= render partial: page.partial, locals: { page: } %>
          </div>
        <% end %>
      <% end %>
    </main>
  </div>
</body>
</html>
