<h1 class="text-4xl font-bold my-4" id="<%= page.anchor %>"><%= page.title %></h1>

<div class="bg-neutral-800 text-white p-2 rounded font-mono">
  <% page.request.routes.each do |route| %>
    <div>
      <span class="font-bold"><%= route.method.to_s.upcase %></span>
      
      <span class="text-neutral-300"><%= page.request.get_base_url %><%= page.request.get_base_path %></span><span class="font-bold"><%= route.path %></span>
    </div>
  <% end %>
</div>

<div class="flex mt-4 gap-8">
  <div class="page__request">
    <% if (description = page.description_html) %>
      <div class="markdown mb-4">
        <%= description %>
      </div>
    <% end %>

    <%= type_render page.request.send(:params_type) %>
  </div>

  <% statuses = page.request.responses.keys.sort %>

  <div
    class="page__response"
    x-data="{ active: <%= statuses.first %> }"
  >
    <div class="flex">
      <% statuses.each do |status| %>
        <button
          class="bg-white py-2 px-6"
          x-bind:class="{ 'border-l border-t border-r -mb-px': active == <%= status %> }"
          x-on:click="active = <%= status %>"
        >
          <span class="text-neutral-400">Resp.</span>
          <span class="font-bold"><%= status %></span>
        </button>
      <% end %>
    </div>

    <div class="border">
      <% statuses.each do |status| %>
        <div class="p-4" x-show="active == <%= status %>">
          <%= type_render page.request.send(:responses_type, status:) %>

          <%= render partial: "explicit/documentation/request/examples", locals: { request: page.request, status: } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
