<h1
  class="text-4xl font-bold my-4"
  id="<%= page.anchor %>"
  x-intersect="activeLink = '<%= page.anchor %>'"
>
  <%= page.title %>
</h1>

<div class="bg-neutral-800 text-white p-2 rounded font-mono">
  <% page.request.routes.each do |route| %>
    <div>
      <span class="font-bold"><%= route.method.to_s.upcase %></span>
      
      <span class="text-neutral-300"><%= page.request.get_base_url %><%= page.request.get_base_path %></span><span class="font-bold"><%= route.path %></span>
    </div>
  <% end %>
</div>

<% if page.request.accepts_file_upload? %>
  <div class="bg-neutral-800 text-white rounded py-1 px-2 text-sm mt-2 inline-flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
      <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
    </svg>

    This request requires <span class="font-mono font-bold">multipart/form-data</span> encoding for file upload
  </div>
<% end %>

<div class="flex mt-4 gap-8">
  <div class="w-1/2 space-y-4">
    <% if (description = page.request.get_description) %>
      <div class="markdown">
        <%= Explicit::Documentation::Markdown.to_html(description) %>
      </div>
    <% end %>

    <% if page.request.headers.any? %>
      <div>
        <div class="bg-gray-100 border-t border-x text-center text-xs p-1 uppercase text-neutral-500">
          Headers
        </div>

        <%= type_render page.request.headers_type %>
      </div>
    <% end %>

    <% if page.request.params.any? %>
      <div>
        <div class="bg-gray-100 border-t border-x text-center text-xs p-1 uppercase text-neutral-500">
          Params
        </div>

        <%= type_render page.request.params_type %>
      </div>
    <% end %>
  </div>

  <% statuses = page.request.responses.keys.sort %>

  <div class="w-1/2" x-data="{ active: <%= statuses.first %> }">
    <div class="flex">
      <% statuses.each do |status| %>
        <button
          class="bg-white py-2 px-6"
          x-bind:class="{ 'border-l border-t border-r -mb-px': active == <%= status %> }"
          x-on:click="active = <%= status %>"
        >
          <span class="text-neutral-400">Resp.</span>
          <span class="font-bold"><%= status %></span>
        </button>
      <% end %>
    </div>

    <div class="border">
      <% statuses.each do |status| %>
        <div class="p-4" x-show="active == <%= status %>">
          <%= type_render page.request.responses_type(status:) %>

          <%= render partial: "explicit/documentation/request/examples", locals: { request: page.request, status: } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
