<h1 id="<%= page.anchor %>"><%= page.title %></h1>

<div class="page__container">
  <div class="page__request">
    <div class="page__request__description markdown">
      <%= page.description_html %>
    </div>

    <%= type_render page.request.send(:params_type) %>
  </div>

  <div class="page__response">
    <% page.request.responses.map { |k, v| k }.sort.each do |status| %>
      <div>
        <%= status %>
      </div>
    <% end %>
  </div>
</div>
